<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>Selecciona un equipo</ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" (click)="cerrarModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of lista; let i = index;">
    <ion-item (click)="plat != 'desktop' ? seleccionar(item) : null">
      <ion-label>{{capitalize(item.nombre_Equipo)}}
        <span style="margin: 0 10px;">-</span>
        <span *ngIf="item.tipo === 'Chip' ">{{item.n_Telefono}}</span>
        <span *ngIf="item.tipo != 'Chip' ">{{item.n_Serie}}</span>
      </ion-label>
      <ion-button *ngIf="plat === 'desktop'" style="margin-right: 20px;" (click)="detalles(item.id)">Ver</ion-button>
      <ion-badge slot="end">{{capitalize(item.tipo)}}</ion-badge>
      <ion-button slot="end" (click)="seleccionar(item)" shape="round" color="success" fill="outline">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

  <div *ngIf="lista?.length == 0" class="imagen-placeholder">
    <img [ngStyle]="{width: (plat === 'desktop' ? '60%' : '100%' )}" style="object-fit: contain; padding: 0 10px; border-radius: 30px;"
    src="../../assets/img/error-404.jpg" />
    <p>No hay equipos libres del tipo que ha solicitado</p>
  </div>

</ion-content>