<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Devolver Equipo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!cargando">

  <div style="padding: 10px; position: absolute; width: 100%;" *ngIf="lista.length == 0">
    <p style="text-align: center;">
      Empieza solicitando un equipo dando click aqui
    </p>

    <div style="display: flex; justify-content: center; width: 100%;">
      <ion-button [routerLink]="['/Solicitar-equipo']" style="text-transform: capitalize;">
        <ion-icon style="padding-right: 5px;" name="newspaper"></ion-icon>
        solicita un equipo
      </ion-button>
    </div>
  </div>

  <div *ngIf="plat != 'desktop' && lista.length>0" style="width: 99%; display: flex; flex-direction: column; 
  grid-gap: 10px; align-items: center; margin: 20px 0;">
    <ion-label>Escanea el codigo del equipo que sea devolver</ion-label>
    <ion-button (click)="scanQRCode()" vertical="top" horizontal="center" slot="fixed">
      <ion-icon name="scan"></ion-icon>
    </ion-button>
  </div>

  <div *ngIf="lista && lista.length > 0">
    <ion-badge style="margin-top: 10px; margin-left: 10px; font-weight: 600;" color="warning">
      <ion-label>Eres responsable de los siguientes equipos</ion-label>
    </ion-badge>
    <div *ngFor="let equipo of lista">
      <div>
        <ion-card>
          <div class="contenedorImg">
            <div *ngIf="equipo?.imgs && equipo.imgs.length>0; else sinImagenes" style="height:100%;">
              <img [src]="url+equipo.imgs[0].ruta" alt="not found" />
            </div>
            <ng-template #sinImagenes>
              <p>Parece que este equipo no tiene imagenes asignadas</p>
            </ng-template>
          </div>
          <div class="mensaje">
            <p>Estado fisico del equipo al momento de su entrega</p>
          </div>
          <ion-card-header style="display:flex; justify-content: space-between;">
            <ion-card-title>{{formatoNombre(equipo.nombre_Equipo)}}</ion-card-title>
            <ion-badge style="height: fit-content; text-transform: none;">{{formatoNombre(equipo.tipo)}}</ion-badge>
          </ion-card-header>
          <ion-card-content>
            <span style="text-decoration: underline; background-color: red; color: white;">Nota:</span>
            Debe tomar fotos de como esta entregando el equipo, antes de devolver el equipo asegurese de tener las
            imagenes a la mano, esto sirve como evidencia.
          </ion-card-content>
          <div class="acciones">
            <ion-fab-button type="submit" (click)="devolver(equipo)">
              <ion-icon name="archive-outline"></ion-icon>
            </ion-fab-button>
          </div>
        </ion-card>
      </div>
    </div>
  </div>

  <div *ngIf="lista.length===0" class="imagen-placeholder">
    <img [ngStyle]="{width: (plat === 'desktop' ? '38%' : '90%' )}" style="object-fit: contain; padding: 20px;"
      src="../../assets/img/no devolber.png" />
  </div>

  <ion-modal [isOpen]="DevolverEquipoModal" backdropDismiss="false">
    <ng-template>
      <ion-content>
        <ion-header>
          <ion-toolbar class="new-background-color">
            <ion-title style="display: flex; flex: 1; justify-content: center; font-weight: 700;">Seleccionar Imagenes
            </ion-title>
            <ion-buttons slot="end">
              <ion-button shape="round" class="cerrar-modal" (click)="cerrarModal()">
                <ion-icon name="close"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <div *ngIf="equipo" style="margin-top: 50px;">
          <div style="width: 100%; text-align: center; margin-bottom: 25px;">
            <ion-title>Equipo a devolver: {{formatoNombre(equipo.nombre_Equipo)}}</ion-title>
            <ion-title style="font-size: inherit;">ID: {{equipo.id}}</ion-title>
          </div>

          <div style="width: 100%; display: flex; justify-content: center; padding: 0 50px;">
            <ion-button style="text-transform: capitalize; width:fit-content; height:50px" color="warning" shape="round"
              onclick="document.getElementById('getFile').click()">
              <ion-icon class="docs" name="cloud-upload-outline"></ion-icon>
              seleccionar imagenes
            </ion-button>
            <input (change)="onFileSelect($event)" multiple="multiple" accept="image/*" type='file' id="getFile" style="display:none">
          </div>

          <ion-item lines="none" *ngIf="plat != 'desktop'"
            style="font-weight: 600; text-align: center; margin-top: 20px;">
            <ion-label>Puede usar la camara de su dispositivo</ion-label>
            <ion-button style="width: 40px; height: 40px;" (click)="tomarFoto($event)" expand="round">
              <ion-icon style="font-size: x-large;" name="camera"></ion-icon>
            </ion-button>
          </ion-item>

          <div *ngIf="Files.length > 0" style="width: 100%; text-align: center; margin: 20px 0;">
              <ion-badge style="font-size: 16px;">Imagenes seleccionadas: {{Files.length}}</ion-badge>
          </div>

          <div style="width: 100%;">
            <ion-grid>
              <ion-row>
                <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
                  <ion-img [src]="photo.webviewPath"></ion-img>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>

          <div *ngIf="Files.length > 0" style="width: 100%; text-align: center; margin: 20px 0;">
            <ion-badge style="font-size: 16px;">Estas imagenes sustituiran a las existentes</ion-badge>
        </div>

          <div style="display: flex; width: 100%; justify-content: center; position: absolute; bottom: 10px;">
            <ion-button [disabled]="puedeTerminarDevolucion()" (click)="terminarDevolucion(equipo.id)" style="text-transform: none; padding: 0 5px; width: 100%;">Terminar Devolución
            </ion-button>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>