ion-card {
    border-radius: 16px;
}
.contenedorImg {
    padding: 20px;
    width: auto;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        object-fit: contain;
        height: 100%;
        border-radius: 16px;
    }
}
.acciones{
    display: flex; width: 100%; justify-content: center; align-items: center;
    margin-bottom: 10px;
}
.mensaje{
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: black;
    border-radius: 5px;
    text-align: center;
    padding: 0 10px;
}
ion-title{
    font-weight: bold;
}