<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reportar Incidencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="display: flex; justify-content: center;">
    <form [ngClass]="(plat != 'desktop' ? 'form-movil' :'')" *ngIf="!reporteEnviado" [formGroup]="reporteForm" (submit)="onSubmit($event)" (keyup.enter)="onSubmit($event)">
    <ion-item>
      <ion-label>Problema: </ion-label>
      <ion-textarea formControlName="Problema" rows="6" cols="20"
        placeholder="Describa el problema..." name="Problema">
      </ion-textarea>
    </ion-item>
    <span class="error ion-padding" *ngIf="errorControl.Problema.touched && errorControl.Problema.errors?.required">
      Descripcion de problema requerido.
    </span>
    <ion-item>
      <ion-label position="floating">Prioridad</ion-label>
      <ion-select formControlName="Prioridad" interface="popover" name="Prioridad">
        <ion-select-option value="Alta"> Alta </ion-select-option>
        <ion-select-option value="Mediana"> Mediana </ion-select-option>
        <ion-select-option value="Baja"> Baja </ion-select-option>
      </ion-select>
    </ion-item>
    <span class="error ion-padding" *ngIf="errorControl.Prioridad.touched && errorControl.Prioridad.errors?.required">
      Asigne prioridad a su reporte
    </span>
    <ion-item>
      <ion-label position="floating">Plaza</ion-label>
      <ion-select formControlName="Plaza" interface="popover" name="Plaza">
        <ng-container *ngFor="let plaza of plazas">
          <ion-select-option value="{{plaza.nombre}}">{{plaza.nombre}}</ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>
    <span class="error ion-padding" *ngIf="errorControl.Plaza.touched && errorControl.Plaza.errors?.required">
      Seleccione la plaza a la que pertenece su reporte.
    </span>
    <ion-item>
      <ion-label position="floating">Area</ion-label>
      <ion-select formControlName="Area" interface="popover" name="Area">
        <ng-container *ngFor="let area of areas">
          <ion-select-option value="{{area.nombre}}">{{area.nombre}}</ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>
    <span class="error ion-padding" *ngIf="errorControl.Area.touched && errorControl.Area.errors?.required">
      Seleccione el area a la que pertenece su reporte.
    </span>
    <ion-item>
      <ion-label position="floating">Tipo</ion-label>
      <ion-select formControlName="Tipo" interface="popover" name="tipo_Incidencia">
        <ion-select-option value="Solicitud">Solicitud</ion-select-option>
        <ion-select-option value="Preventivo">Preventivo</ion-select-option>
        <ion-select-option value="Correctivo">Correctivo</ion-select-option>
      </ion-select>
    </ion-item>
    <span class="error ion-padding" *ngIf="errorControl.Tipo.touched && errorControl.Tipo.errors?.required">
      Seleccione un tipo de incidencia.
    </span>
    <ion-button [disabled]="!reporteForm.valid" *ngIf="plat === 'desktop' " type="submit" style="margin-top: 20px; padding: 0 10px;"
      id="Acces" type="submit" expand="block">
      Eviar reporte
    </ion-button>
    <div class="contenedor-movil " *ngIf="plat != 'desktop' ">
      <ion-label>Enviar Reporte</ion-label>
      <ion-button class="btnMovil" color="secondary" type="submit" [disabled]="!reporteForm.valid">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </div>
  </form>
  </div>

  <div *ngIf="reporteEnviado" style="height: 100%; display: flex; align-items: center;">
    <ion-card style="border-radius:16px; padding: 18px;">
      <ion-card-header style="text-align: center; font-weight: bold;">
        <ion-card-title>Reporte enviado </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        El area de sistemas a recibido su reporte, por ahora debe esperar a que resuelvan su proplema, puede consultar el estado de su reporte en cualquier momento o bien puede ir a la oficina y preguntar.
      </ion-card-content>
      <div style="display: flex; justify-content: center;">
        <ion-button type="button" (click)="otroReporte()">Enviar Otro</ion-button>
      </div>
    </ion-card>
  </div>

</ion-content>