.contenedor-movil {
    padding: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 15px;
    margin: 0;
    left: 0;
}
.btnMovil{
    --transition: background-color,opacity 100ms linear;
    --ripple-color: currentColor;
    --border-radius: 50%;
    --border-width: 0;
    --border-style: none;
    --border-color: initial;
    --padding-top: 0;
    --padding-end: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;   
    display: block;     
    width: 56px;
    height: 56px;
    position: relative;
    font-size: 14px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
    -webkit-font-kerning: none;
    font-kerning: none;
    ion-icon{
      font-size: 30px;
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  form{
    width: 60%;
    padding: 20px 10px;
  }
  .form-movil{
    width: 95%;
  }