<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>Codigo QR</ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" class="cerrar-modal" (click)="cerrarModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h2 class="titulo" style="font-size: 22px;">
      Puede usar la camara de su dispositivo para escanear este codigo
    </h2>

    <ngx-qrcode [elementType]="elementType" [value]="QR" errorCorrectionLevel="high" cssClass="qr">
    </ngx-qrcode>

    <div *ngIf="plat ==='desktop'" style="padding: 10px; display: flex; 
    justify-content: center; align-items: center;">
      <ion-label *ngIf="!descargado">Descargar codigo</ion-label>
      <ion-label *ngIf="descargado">Descargado</ion-label>
      
      <ion-button (click)="descargarQR()" style="margin: 0 10px;" [color]="descargado ? 'success' : 'primary' "  [disabled]="descargado">
        <ion-label  style="font-size: 25px;">
          <ion-icon *ngIf="!descargado; else descargadoTemplate" name="download"></ion-icon>
          <ng-template #descargadoTemplate>
            <ion-icon name="checkbox"></ion-icon>
          </ng-template>
        </ion-label>
    
      </ion-button>
    </div>
  </div>
</ion-content>