<ion-content>
  <img src="../../../assets/img/Logo.png">

  <div id="container" style="margin-top: 10px;">
    <form (submit)="acceder($event)" (keyup.enter)="acceder($event)" [formGroup]="loginForm">

      <ion-list>
        <ion-item>
          <ion-label class="gray" position="floating">Nombre de usuario
          </ion-label>
          <ion-input formControlName="NombreUsuario" class="fontStyle" id="InputUser" name="usuario" type="text"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="errorControl.NombreUsuario.touched && errorControl.NombreUsuario.errors?.required">
          Nombre de usuario requerido.
        </span>

        <ion-item>
          <ion-label class="gray" position="floating">Contraseña
          </ion-label>
          <ion-input formControlName="Contrasenia" class="fontStyle" type="password" name="password"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="errorControl.Contrasenia.touched && errorControl.Contrasenia.errors?.required">
          Proporcione una contraseña.
        </span>

        <ion-button [shape]="plat === 'desktop' ? '' : 'round'" class="fontStyle botones" type="submit" expand="block" [disabled]="!loginForm.valid">
          <ion-icon name="log-in"></ion-icon>
          Acceder
        </ion-button>
      </ion-list>
    </form>

    <!-- <ion-button *ngIf="plat != 'desktop'; else DesktopTemplate" color="tertiary" class="fontStyle botones mobilebtn" type="button" [routerLink]="['/Registrarse']" shape="round" fill="outline">
      Crea una nueva cuenta
    </ion-button> -->

    <ion-button *ngIf="plat != 'desktop'; else DesktopTemplate" shape="round" color="dark" expand="full" fill="clear"
    style="text-transform: none; margin-top: 50px; border-bottom: 1px solid;"  [routerLink]="['/Registrarse']">
      ¿No tienes cuenta? Registrate Aqui
    </ion-button>

    <ng-template #DesktopTemplate>
      <div id="option">
        <span id="register">¿No tienes cuenta? <strong>
          <a [routerLink]="['/Registrarse']" id="gray">Registrate</a></strong></span>
      </div>
    </ng-template>
  </div>
  <!-- <ion-list>
    <ion-item>
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>Dark Theme</ion-label>
      <ion-toggle slot="end" [ngModel]="darkMode" (ionChange)="change()"></ion-toggle>
    </ion-item>
  </ion-list> -->

</ion-content>