@font-face {
    font-family: 'MyRiadpro';
    src: url('../../../assets/fonts/MYRIADPRO-REGULAR.OTF');
    font-weight: normal;
    font-style: normal;
  }

// ion-content {
//     --ion-background-color:#f0f6f7;
// }

ion-content img {
    
    width: auto !important  ;
    height: 60px !important;
    margin: 50px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.gray{
    color: rgb(168, 166, 168);
    font-family: MyRiadpro;
}

#Acces{
    padding: 0 10px;
    margin-top: 50px;
    font-family: MyRiadpro;
}

#container {
    width: 300px; 
    margin-left:auto; 
    margin-right: auto; 
}

#register {
    font-family: MyRiadpro;
    padding-top: 2rem;
    font-size: .9rem;
    margin-right: auto;
    margin-left: auto;
}

#option{
    text-align: center;
    margin-top: 25px;
}

.fontStyle{
    font-family: MyRiadpro;
}
.botones{
    margin: 0;
    width: 100%;
    margin-top: 20px; padding: 0 10px;
}
.mobilebtn{
    position: absolute;
    bottom: 30px;
    left: 20px;
    right: 20px;
    width: auto;
}