<ion-app>
  <ion-menu menuId="main-menu" contentId="main">
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <div class="user">
          <img src="../assets/icon/T.png" alt="">
        </div>

        <ion-label>
          <h2>Bienvenido</h2>
        </ion-label>
      </div>

      <ion-list class="menu-items" lines="none" >
        <ion-list-header>De uso común</ion-list-header>

        <ion-item (click)="cerrarMenu()" *ngFor="let p of usuarioPages; let i = index"
        class="active" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
          routerLinkActive="selected">
          <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
          <ion-label class="title">{{ p.title }}</ion-label>
        </ion-item>
      </ion-list>

      <ion-list class="menu-items" lines="none" >
        <ion-list-header>Solo administradores</ion-list-header>
        <ion-item (click)="cerrarMenu()" class="active" *ngFor="let p of adminPages; let i = index"
        routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
          routerLinkActive="selected">
          <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
          <ion-label class="title">{{ p.title }}</ion-label>
        </ion-item>
      </ion-list>

      <div class="btn-cerrar-sesion">
        <ion-button (click)="cerrarSesion()" expand="block" color="warning">
          <ion-icon name="log-out"></ion-icon>
          Salir
        </ion-button>
      </div>

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>