@font-face {
  font-family: 'MyRiadpro';
  src: url('../assets/fonts/MYRIADPRO-REGULAR.OTF');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: MyRiadpro;
}

.user {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.menu-header-bg {
  height: 180px;
  width: 350px;
  background: #7590d6;
  background: linear-gradient(90deg, #bcc9ee 0%, #6abae6 100%);
  box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
  transform: rotate(-15deg);
  border-radius: 10px 10px 10px 50px;
  margin-left: -18px;
  margin-top: -50px;
  margin-bottom: 60px;
}

.header-content {
  position: absolute;
  top: 30px;
  left: 15px;
  display: flex;
  align-items: center;

  img {
    width: 80px;
    height: 80px !important;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-radius: 50%;
    border: 7px solid #35a8e0;
    margin-right: 14px;
  }

  h2 {
    font-weight: 300;
    color: rgb(77, 76, 76);
  }

  p {
    font-size: 12px;
    color: rgb(77, 76, 76);
    font-weight: 100px;
    letter-spacing: 0.4px;
  }
}

.action-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  ion-button {
    text-transform: capitalize;
    font-weight: 300;
    --background: #ff3c3c;
    --border-radius: 7px;
    --box-shadow: none;
  }

  ion-icon {
    margin-right: 1px;
  }
}

.menu-items {
  margin: 0px;

  ion-icon {
    margin-right: 20px;
    color: #86979f;
  }

  ion-item {
    padding-left: 20px;
    margin-bottom: 10px;
  }
}

.active:hover {
  border-left: 2px solid;
  color: #007CBE;
  padding-left: 15px;

  ion-icon {
    color: #007CBE;
  }
}

.title {
  font-family: MyRiadpro;
}

.btn-cerrar-sesion {
  position: absolute;
  bottom: 10px;
  width: 100%;
  ion-button {
    font-weight: bold;
    ion-icon {
      padding-right: 5px;
      color: maroon;
      opacity: .6;
    }
  }
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
  border-left: 2px solid;
}