@font-face {
    font-family: 'MyRiadpro';
    src: url('../../../assets/fonts/MYRIADPRO-REGULAR.OTF');
    font-weight: normal;
    font-style: normal;
  }
  
// ion-content {
//     --ion-background-color:#f0f6f7;
// }

#container {
    width: 300px; 
    margin-left:auto; 
    margin-right: auto; 
}

#indication{
    font-size: large;
    text-align: center;
    color:grey;
    margin-top: 50px;
}

#Acces{
    align-items: center;
    padding: 0 10px;
    margin-top: 25px;
    font-family: MyRiadpro;
}

.fontColor{
    color: rgb(168, 166, 168);
    font-family: MyRiadpro;
}

.fontStyle{
    font-family: MyRiadpro;
}
.botones{
    margin: 0;
    width: 100%;
    padding: 0 10px;
}
.mobilebtn{
    position: absolute;
    bottom: 30px;
    left: 20px;
    right: 20px;
    width: auto;
}
#register {
    font-family: MyRiadpro;
    padding-top: 2rem;
    font-size: .9rem;
    margin-right: auto;
    margin-left: auto;
}
#option{
    text-align: center;
    margin-top: 25px;
}