<ion-content padding>
  <div id="container" style="margin-top: 10px;">

    <div id="indication">
      <ion-label style="font-family:MyRiadpro;">Crea tu usuario para acceder</ion-label>
    </div>

    <form id="container" style="margin-top: 10px;" (submit)="registrarse($event)" [formGroup]="ionicForm"
      (keyup.enter)="registrarse($event)">
      <ion-item>
        <ion-label class="fontColor" position="floating">NOMBRE DE USUARIO</ion-label>
        <ion-input class="fontStyle" formControlName="NombreUsuario" type="text" required name="NombreUsuario">
        </ion-input>
      </ion-item>
      <span class="error ion-padding"
        *ngIf="errorControl.NombreUsuario.touched && errorControl.NombreUsuario.errors?.required">
        Nombre de usuario requerido</span>

      <ion-item>
        <ion-label class="fontColor" position="floating">NOMBRES (S)</ion-label>
        <ion-input class="fontStyle" formControlName="Nombre" type="text" required name="Nombre"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="errorControl.Nombre.touched && errorControl.Nombre.errors?.required">
        Nombre requerido.
      </span>

      <ion-item>
        <ion-label class="fontColor" position="floating">APELLIDO PATERNO</ion-label>
        <ion-input class="fontStyle" formControlName="Apellido_Paterno" type="text" required name="Apellido_Paterno">
        </ion-input>
      </ion-item>
      <span class="error ion-padding"
        *ngIf="errorControl.Apellido_Paterno.touched && errorControl.Apellido_Paterno.errors?.required">
        Apellido Paterno requerido.
      </span>

      <ion-item>
        <ion-label class="fontColor" position="floating">APELLIDO MATERNO</ion-label>
        <ion-input class="fontStyle" formControlName="Apellido_Materno" type="text" required name="Apellido_Materno">
        </ion-input>
      </ion-item>
      <span class="error ion-padding"
        *ngIf="errorControl.Apellido_Materno.touched && errorControl.Apellido_Materno.errors?.required">
        Apellido Materno requerido.
      </span>

      <ion-item>
        <ion-label class="fontColor" position="floating">CONTRASEÑA</ion-label>
        <ion-input class="fontStyle" formControlName="Contrasenia" type="Password" required name="Contrasenia">
        </ion-input>
      </ion-item>
      <span class="error ion-padding"
        *ngIf="errorControl.Contrasenia.touched && errorControl.Contrasenia.errors?.required">
        Contraseña requerida
      </span>
      <span class="error ion-padding" *ngIf="errorControl.Contrasenia.errors?.minlength">
        La contraseña debe tener al menos 8 caracteres
      </span>

      <ion-item>
        <ion-label class="fontColor" position="floating">CONFIRMAR CONTRASEÑA</ion-label>
        <ion-input class="fontStyle" formControlName="Contrasenia_Confirmacion" type="Password" required
          id="Contrasenia_Confirmacion"></ion-input>
      </ion-item>
      <span class="error ion-padding"
        *ngIf="errorControl.Contrasenia_Confirmacion.touched && errorControl.Contrasenia_Confirmacion.errors?.required">
        Debe confirmar contraseña
      </span>
      <span class="error ion-padding" *ngIf="errorControl.Contrasenia_Confirmacion.errors?.confirmedValidator">
        Las contraseñas no coinciden
      </span>

      <ion-item>
        <ion-label position="floating">Rol</ion-label>
        <ion-select interface="popover" formControlName="Rol" name="Rol">
          <ion-select-option value="Admin">Admin</ion-select-option>
          <ion-select-option value="Usuario">Usuario</ion-select-option>
        </ion-select>
      </ion-item>
      <span class="error ion-padding" *ngIf="errorControl.Rol.touched && errorControl.Rol.errors?.required">
        Seleccione un Rol.
      </span>

      <ion-item lines="none" style="text-align: center; width: 100%; font-size: 12px;" *ngIf="empleado">
        <ion-label>Seleccion: {{empleado.Nombre}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label style="font-family: MyRiadpro;">Seleccionar</ion-label>
        <div slot="end">
          <ion-button color="tertiary" (click)="seleccionarEmpleado()">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
      <div style="width: 100%; text-align:center; margin: 10px 0;">
        <span class="error" *ngIf="!empleado">
         * Debes seleccionar un empleado.
        </span>
      </div>

      <ion-button [shape]="plat === 'desktop' ? '' : 'round'" class="fontStyle botones" type="submit" expand="block"
        [disabled]="!ionicForm.valid || !empleado">
        <ion-icon name="log-in"></ion-icon>
        Crear Cuenta
      </ion-button>
      <!-- </div> -->
    </form>
    <ion-button *ngIf="plat != 'desktop'; else DesktopTemplate" shape="round" color="dark" expand="full" fill="clear"
      style="text-transform: none; margin-top: 50px; border-bottom: 1px solid;" [routerLink]="['/Acceder']">
      Iniciar Sesion
    </ion-button>

    <ng-template #DesktopTemplate>
      <div id="option">
        <span id="register">¿Ya tienes cuenta? <strong>
            <a [routerLink]="['/Acceder']" id="gray">Iniciar Sesion</a></strong></span>
      </div>
    </ng-template>
  </div>
</ion-content>