<ion-header>
  <ion-toolbar class="new-background-color">
    <div style="text-align: center;">
      <ion-title>Lista de empleados</ion-title>
    </div>
    <ion-buttons slot="end">
      <ion-button shape="round" class="cerrar-modal" (click)="cerrarModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <h2 class="titulo">
    Selecciona a un usuario para asignar un equipo
  </h2>

  <ion-searchbar style="padding: 5px 20px;" color="light" animated="true" placeholder="Buscar nombre de usuario" [(ngModel)]="nombre"
  debounce="100" (ionChange)="onSearch()"></ion-searchbar>

  <div style="display: flex; justify-content: end; padding: 10px 10px 20px 20px;" *ngIf="nombre">
    <ion-badge color="tertiary">{{listaFiltrada.length}} Resultados</ion-badge>
  </div>

  <ion-list>
    <div *ngFor="let usuario of listaFiltrada">
      <ion-item style="cursor: pointer;" (click)="seleccionar(usuario)">
        <ion-label>{{ formatearNombre(usuario.nombre) }}</ion-label>
        
        <ion-label slot="end">
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-label>
        <!-- <ion-label slot="end">{{usuario.area / usuario.plaza}}</ion-label> -->
      </ion-item>
    </div>
  </ion-list>


</ion-content>