<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="Inventario"></ion-back-button>
    </ion-buttons>
    <ion-title>Nuevo Equipo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 class="titulo">Llena el formulario para registrar un equipo</h4>
  <div style="display: flex; width: 100%; justify-content: center;">

    <form (submit)="onSubmit($event)" [ngStyle]="{width: (plat === 'desktop' ? '75%': '95%')}">
      <ion-item class="tipo_Equipo">
        <ion-label position="floating">Tipo de equipo</ion-label>
        <ion-select interface="popover" (ionChange)="onChange($event)" name="tipo_Equipo">
          <ion-select-option value="comp">Computadora (PC, Laptop)</ion-select-option>
          <ion-select-option value="mov">Moviles (Tablet, Smartphone)</ion-select-option>
          <ion-select-option value="chip">Chips Telefónicos</ion-select-option>
          <ion-select-option value="otros">Otros (camara, tripie, monitor, mouse...)</ion-select-option>
        </ion-select>
      </ion-item>

      <div *ngIf="tipo_Equipo != ''">
        <ion-item class="tipo" *ngIf="tipo_Equipo != 'chip' ">
          <ion-label position="floating">Tipo especifico</ion-label>
          <div *ngIf="tipo_Equipo === 'otros'; else elseTemplate ">
            <ion-input name="tipo" [(ngModel)]="newEquipo.Tipo"></ion-input>
          </div>
          <ng-template #elseTemplate>
            <ion-select interface="popover" [(ngModel)]="newEquipo.Tipo" name="tipo">
              <div *ngIf="tipo_Equipo === 'comp'; else OptionsTemplate">
                <ion-select-option value="PC">Escritorio (Desktop)</ion-select-option>
                <ion-select-option value="Laptop">Laptop</ion-select-option>
              </div>
              <ng-template #OptionsTemplate>
                <ion-select-option value="Smartphone">Smartphone</ion-select-option>
                <ion-select-option value="Tablet">Tablet</ion-select-option>
              </ng-template>
            </ion-select>
          </ng-template>
        </ion-item>
        <ion-item class="N_Telefono" *ngIf="tipo_Equipo == 'mov' || tipo_Equipo == 'chip'">
          <ion-label position="floating">N° Telefono</ion-label>
          <ion-input placeholder="Campo opcional" type="tel" [(ngModel)]="newEquipo.N_Telefono" name="N_Telefono">
          </ion-input>
        </ion-item>

        <div *ngIf="tipo_Equipo != 'chip'">
          <ion-item class="nombre">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [(ngModel)]="newEquipo.Nombre_Equipo" name="Nombre_Equipo"></ion-input>
          </ion-item>

          <ion-item class="marca">
            <ion-label position="floating">Marca</ion-label>
            <ion-input [(ngModel)]="newEquipo.Marca" name="marca"></ion-input>
          </ion-item>

          <ion-item class="modelo">
            <ion-label position="floating">Modelo</ion-label>
            <ion-input [(ngModel)]="newEquipo.Modelo" name="modelo"></ion-input>
          </ion-item>

          <ion-item class="serie">
            <ion-label position="floating">Serie</ion-label>
            <ion-input [(ngModel)]="newEquipo.N_Serie" name="N_Serie"></ion-input>
          </ion-item>

          <div *ngIf="tipo_Equipo =='mov' || tipo_Equipo=='comp'">
            <ion-item class="procesador">
              <ion-label position="floating">Procesador</ion-label>
              <ion-input [(ngModel)]="newEquipo.Procesador" name="Procesador"></ion-input>
            </ion-item>

            <ion-item class="SO">
              <ion-label position="floating">SO</ion-label>

              <ion-select [(ngModel)]="newEquipo.SO" interface="popover" name="SO">
                <div *ngIf="tipo_Equipo === 'comp'; else OS_Template">
                  <ion-select-option value="Windows">Windows</ion-select-option>
                  <ion-select-option value="Mac OS">Mac OS</ion-select-option>
                  <ion-select-option value="Linux">Linux</ion-select-option>
                  <ion-select-option value="Chrome OS">Chrome OS</ion-select-option>
                  <ion-select-option value="BSD">BSD</ion-select-option>
                </div>
                <ng-template #OS_Template>
                  <ion-select-option value="Android">Android</ion-select-option>
                  <ion-select-option value="IOS">IOS</ion-select-option>
                </ng-template>
              </ion-select>
            </ion-item>

            <div *ngIf="tipo_Equipo === 'comp'">
              <ion-item class="Office">
                <ion-label position="floating">Office</ion-label>
                <ion-input [(ngModel)]="newEquipo.Office" name="Office"></ion-input>
              </ion-item>
            </div>

            <ion-item class="Disco Duro">
              <ion-label position="floating">Disco Duro (GB)</ion-label>
              <ion-input type="tel" [(ngModel)]="newEquipo.Disco_Duro" name="Disco_Duro"></ion-input>
            </ion-item>

            <ion-item class="Chip" *ngIf="tipo_Equipo === 'mov'">
              <ion-label position="floating">Seleccionar Chip</ion-label>
              <ion-input placeholder="Campo opcional" [(ngModel)]="newEquipo.Chip" name="Chip"></ion-input>
            </ion-item>
          </div>
        </div>
        <div *ngIf="tipo_Equipo == 'chip' ">
          <ion-item class="marca">
            <ion-label position="floating">Plan</ion-label>
            <ion-input [(ngModel)]="newEquipo.Plan" name="Plan"></ion-input>
          </ion-item>

          <ion-item class="serie">
            <ion-label position="floating">Razon social</ion-label>
            <ion-input [(ngModel)]="newEquipo.Razon_Social" name="Razon_Social"></ion-input>
          </ion-item>

          <ion-item class="marca">
            <ion-label position="floating">Region</ion-label>
            <ion-input [(ngModel)]="newEquipo.Region" name="Region"></ion-input>
          </ion-item>

          <ion-item class="serie">
            <ion-label position="floating">Cuenta</ion-label>
            <ion-input [(ngModel)]="newEquipo.Cuenta" name="Cuenta"></ion-input>
          </ion-item>

          <ion-item class="marca">
            <ion-label position="floating">Cuenta Padre</ion-label>
            <ion-input [(ngModel)]="newEquipo.Cuenta_Padre" name="Cuenta_Padre"></ion-input>
          </ion-item>
        </div>
        <div class="Estado">
          <ion-item>
            <ion-item style="text-align: center; width: 100%;" *ngIf="asignado != '' && asignado">
              <ion-label>Asignado a {{asignado}}</ion-label>
            </ion-item>
            <ion-label position="floating">Estado</ion-label>
            <ion-select [(ngModel)]="newEquipo.Estado" interface="popover" (ionChange)="asignarEquipo($event)"
              name="Estado">
              <ion-select-option value="Libre">Libre</ion-select-option>
              <ion-select-option value="Asignado">Asignar</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
      <ion-button style="font-size: 17px; padding: 0 10px; margin-top: 30px;" type="submit" expand="block">
        <ion-icon style="padding: 0 10px;" name="send"></ion-icon>
        Enviar
      </ion-button>
    </form>
  </div>

  <ion-modal style="width: 100%;" [isOpen]="modalImagenes" #ImagenesModal backdropDismiss="false">
    <ng-template>
      <ion-content>
        <ion-header>
          <ion-toolbar class="new-background-color">
            <ion-title style="display: flex; flex: 1; justify-content: center; font-weight: 700;">Seleccionar Imagenes
            </ion-title>
            <ion-buttons slot="end">
              <ion-button shape="round" class="cerrar-modal" (click)="cerrarModal()">
                <ion-icon name="close"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <h4 class="titulo">Asigne imagenes al equipo que acaba de registrar (opcional)</h4>
        <div>
          <div style="display: flex; flex: 1; justify-content: center;
           font-weight: 600; text-align: center; flex-direction: column;">
            <ion-label>Puede seleccionarlas de su dispositivo</ion-label>
            <br />
            <div *ngIf="ID">
              <ion-label> ID de Equipo registrado:</ion-label>
              <br />
              <ion-label>{{ID}}</ion-label>
            </div>
          </div>
          <form enctype="multipart/form-data" style="display: flex; justify-content: center; margin-top: 20px;">
            <div style="width: 100%; display: flex; justify-content: center; padding: 0 50px;">
              <ion-button style="text-transform: capitalize; width:fit-content; height:50px" color="warning"
                shape="round" onclick="document.getElementById('getFile').click()">
                <ion-icon class="docs" name="cloud-upload-outline"></ion-icon>
                seleccionar imagenes
              </ion-button>
              <input (change)="onFileSelect($event)" multiple="multiple" accept="image/*" type='file' id="getFile"
                style="display:none">
            </div>
          </form>
        </div>
        <ion-item lines="none" *ngIf="plat != 'desktop'"
          style="font-weight: 600; text-align: center; margin-top: 20px;">
          <ion-label>Puede usar la camara de su dispositivo</ion-label>
          <ion-button style="width: 40px; height: 40px;" (click)="takePhoto($event)" expand="round">
            <ion-icon style="font-size: x-large;" name="camera"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-fab vertical="bottom" horizontal="center" slot="fixed">
          <ion-fab-button type="submit" (click)="subir()">
            <ion-icon name="send"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>