<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bitacora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!cargando">
  <ion-item lines="none" class="mostrar-toggle">
    <ion-label>Mostrar Resueltas</ion-label>
    <ion-toggle [(ngModel)]="mostrarResueltas" (ionChange)="bitacora_Resueltas()"></ion-toggle>
  </ion-item>

  <div *ngFor="let bit of bitacora; let i = index;" style="margin-top:65px;">
    <ion-card [id]="'bitacora'+i" (click)="info(i)">
      <ion-card-header name="cabecera" class="cabecera">

        <ion-item lines="none">
          <div class="responsable">
          <ion-label>{{ capitalize(bit.solicitante)}} reportó:</ion-label>
          </div>
          <div slot="end">
          <ion-badge [color]="setPrioridad(bit.prioridad)">{{bit.prioridad}}</ion-badge>

          </div>
          <div slot="end">
            <div *ngIf="plat != 'desktop'; else mobileTemplate"
              style="border: 1px solid; display: flex; border-radius: 50%;" (click)="ResolverIncidencia(bit,i)">
  
              <ion-icon [id]="'expandir'+i" class="expandir" name="chevron-forward">
              </ion-icon>
            </div>
  
            <ng-template #mobileTemplate>
              <ion-button [id]="'btnToggle'+i" fill="outline" class="btnExpandir"
                (click)="ResolverIncidencia(bit,i)">
                <ion-label>Expandir</ion-label>
              </ion-button>
            </ng-template>
  
          </div>
        </ion-item>
      </ion-card-header>

      <ion-card-content style="padding: 0; margin: 0;">

        <ion-item style="width: 100%; height: fit-content;" lines="none">
          <span id="span{{bit.id}}" class="problema problema-texto">
            "{{bit.problema.charAt(0).toUpperCase() + bit.problema.slice(1)}}."
          </span>
        </ion-item>

        <ion-item lines="none">
          <ion-note slot="end">{{formatoFecha(bit.fecha_Registro)}}</ion-note>
        </ion-item>

        <form (submit)="onSubmit($event, bit)" style="display: none; height: 100px;" name="form" id="{{bit.id}}">
          <ion-item>
            <ion-label>Solucion</ion-label>
            <ion-input [placeholder]="bit.solucion ? bit.solucion : null" [(ngModel)]=" respIncidencia.Solucion"
              type="textarea" name="Solucion"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Categoria</ion-label>
            <ion-select interface="popover" name="Categoria" [placeholder]="bit.categoria ? bit.categoria : null"
              [(ngModel)]="respIncidencia.Categoria">
              <ion-select-option *ngFor="let categoria of categorias" value="{{categoria.nombre}}">
                {{categoria.nombre}}
              </ion-select-option>
            </ion-select>
          </ion-item>


          <ion-item>
            <ion-label>Tiempo Invertido</ion-label>
            <ion-input
              [placeholder]="bit.tiempo_Invertido != 0 && bit.estado != 'Abierto' ? bit.tiempo_Invertido: 'ej. 30 min, 1 hora' "
              [(ngModel)]=" tiempo_Invertido" type="text" name="Tiempo"></ion-input>
          </ion-item>

          <ion-button style="padding: 5px; margin-top: 10px;" expand="block" type="submit">Resolver</ion-button>

        </form>
        <ion-item lines="none" *ngIf="bit.estado === 'Cerrado'">
          <ion-note slot="start" style="display: flex; align-items: center;">
            <ion-icon style="color: green; margin-right: 3px;" name="checkbox-outline"></ion-icon>
            <ion-label style="font-size: 14px;">Resuelto por: {{ capitalize(bit.nombreResponsable)}}</ion-label>
          </ion-note>
          <button class="btn btn-outline-info btnprint" printSectionId="ticket-{{bit.id}}" ngxPrint slot="end">
            <ion-icon name="print"></ion-icon>
          </button>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <div style="display: none;">
      <div id="ticket-{{bit.id}}">
        <div style="text-align: center; display: flex; flex-direction: column;">
          <ion-label>° Tribuna - Sistemas °</ion-label>
          <ion-label>Fecha: {{fecha()}}</ion-label>
        </div>
        <div>
          <div style="padding: 20px; display: flex; flex-direction: column;">
            <ion-label>Folio: {{bit.id}}</ion-label>
            <ion-label>Solicitante: {{bit.solicitante}}</ion-label>
            <ion-label>Fecha de reporte:{{formatoFecha(bit.fecha_Registro)}}</ion-label>
            <ion-label>Responsable: {{bit.nombreResponsable}}</ion-label>
            <ion-label>Fecha de respuesta: {{formatoFecha(bit.fecha_Cierre)}}</ion-label>
            <ion-label>Tiempo Invertido: {{bit.tiempo_Invertido}}</ion-label>
          </div>
          <div style="padding: 20px; display: flex; flex-direction: column;">
            <ion-label style="white-space: initial;">Problema reportado: </ion-label>
            <ion-label style="white-space: initial;">{{bit.problema}}</ion-label>
          </div>
          <div style="padding: 20px; display: flex; flex-direction: column;">
            <ion-label style="white-space: initial;">Respuesta de solucion: </ion-label>
            <ion-label style="white-space: initial;">{{bit.solucion}}</ion-label>
          </div>
          <div style="padding: 10px; text-align: center;">
            <ion-label>
              <ngx-qrcode elementType="ur" [value]="bit.id" errorCorrectionLevel="high">
              </ngx-qrcode>
            </ion-label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="bitacora.length == 0" class="imagen-placeholder">
    <img [ngStyle]="{width: (plat === 'desktop' ? '38%' : '90%' )}" style="object-fit: contain; padding: 20px;"
      src="../../../assets/img/No bitacora.png" />
  </div>
</ion-content>