ion-icon {
    font-size: 22px;
}

ion-card {
    height: fit-content;
    border: 1px solid;
    margin-bottom: 15px;
}

.expandir {
    transform: rotate(90deg);
}

.contraer {
    transform: rotate(-90deg);
}

.problema {
    transition: opacity 0.9s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.problema-texto {
    padding: 5px 5px;
    text-align: justify;
}

.btnprint {
    padding: 5px;
    height: 35px;

    ion-icon {
        font-size: 22px;
    }
}

.btnExpandir {
    height: 30px;
    width: 85px;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    font-size: 13px;
}

.cabecera {

    // display: flex;
    // justify-content: space-between;
    // align-content: center;
    // padding-left: 20px;
    .responsable {
        font-size: 16px;
        font-weight: 600;
    }
}

.prioridad {
    position: absolute;
    right: 10%;
    top: 30%;
}

.prioridad-movil {
    position: absolute;
    right: 15%;
    top: 30%;
}