<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" *ngIf="!data">
      <ion-back-button defaultHref="Inventario"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="res && res.tipo != 'Chip'">{{capitalize(res.nombre_Equipo)}}</ion-title>
    <ion-title *ngIf="res && res.tipo === 'Chip'">{{res.n_Telefono}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!showSpinner">
  <div style="margin-top: 20px;">
    <ion-card *ngIf="res && !showSpinner">

      <div *ngIf="res?.imagenes?.length > 0; else sinImagenes"
        [ngStyle]="{'justify-content': (res?.imagenes?.length == 0) ? 'center' : 'inherit'}" class="carta-cabecera">

        <h1 *ngIf="plat === 'desktop'" class="btn-slider" (click)="swipePrev()">
          <ion-icon name="arrow-back"></ion-icon>
        </h1>

        <swiper [config]="config" class="dndclass">
          <ng-template swiperSlide *ngFor="let img of res.imagenes">
            <ion-img [src]="url+img.ruta" class="img" alt="not found">
            </ion-img>
          </ng-template>
        </swiper>

        <h1 *ngIf="plat === 'desktop'" class="btn-slider" (click)="swipeNext()">
          <ion-icon name="arrow-forward"></ion-icon>
        </h1>
      </div>
      <ng-template #sinImagenes>
        <div class="sinImagenes">
          No se encontraron imágenes asignadas a este equipo
        </div>
      </ng-template>

      <ion-card-header>
        <ion-card-subtitle style="display: flex; justify-content: space-between;">
          <ion-badge color="secondary">
            <ion-label color="light" style="font-weight: bolder;">{{res.tipo}}</ion-label>
          </ion-badge>
          <ion-badge [color]="res.estado === 'Libre' ? 'success': 'dark'">
            <ion-label color="light" style="font-weight: bolder;">{{res.estado}}</ion-label>
          </ion-badge>
        </ion-card-subtitle>

        <ion-card-title>
          <ion-label *ngIf="res.tipo != 'Chip'">{{res.nombre_Equipo}}</ion-label>
          <ion-label *ngIf="res.tipo === 'Chip'">{{res.n_Telefono}}</ion-label>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content style="height: 100%;">
        <ion-list>
          <ion-list-header class="lista-cabecera">
            <ion-badge color="light">Datos básicos</ion-badge>
          </ion-list-header>
          <diV class="datosBasicos" *ngIf="res.tipo != 'Chip'; else chipTemplate">
            <ion-label>Fecha de alta: {{formatDate(res.fecha_Registro)}}</ion-label>
            <ion-label>Marca: {{res.marca}}</ion-label>
            <ion-label>Modelo: {{res.modelo}}</ion-label>
            <ion-label>Serie: {{res.n_Serie}}</ion-label>
          </diV>
          <ng-template #chipTemplate>
            <diV class="datosBasicos" style="margin: 10px;">
              <ion-label>Fecha de alta: {{formatDate(res.fecha_Registro)}}</ion-label>
              <ion-label>Plan: {{res.plan}}</ion-label>
              <ion-label>Región: {{res.region}}</ion-label>
              <ion-label>Razón social: {{res.razon_Social}}</ion-label>
              <ion-label>Cuenta: {{res.cuenta}}</ion-label>
              <ion-label>Cuenta Padre: {{res.cuenta_Padre}}</ion-label>
              <ion-label>ID: {{res.id}}</ion-label>
            </diV>
          </ng-template>

          <div style="width: 100%; text-align: center; margin: 20px 0;">
            <ion-label>
              <p style="text-decoration: underline;" *ngIf="res.usuario_Actual;else sinUsuarioTemplate">Asignado a:
                {{res.usuario_Actual.nombre}}</p>
              <ng-template #sinUsuarioTemplate>
                <p>Este equipo esta libre</p>
              </ng-template>
            </ion-label>
          </div>

          <div *ngIf="res.tipo != 'Chip' ">
            <div style="width: 90%; text-align: start; margin: 15px;">
              <ion-badge color="primary">Especificaciones Tecnicas</ion-badge>
            </div>

            <div class="datosBasicos">
              <div style="display: flex; align-items: center;"
                [ngStyle]="{'font-size': (plat === 'iphone') ? '13px' : 'inherit'}">
                <ion-label style="display: flex; align-items: center; align-content: center;">
                  ID: {{res.id}}
                  <span *ngIf="plat ==='desktop'">
                    <ion-button [color]="IDCopiado ? 'success': 'medium'" (click)="copiarID(res.id)" class="btn-copiar">
                      <ion-label style="display: flex; justify-content: center; align-items: center;"
                        *ngIf="!IDCopiado; else Copiado">
                        <ion-icon name="copy"></ion-icon>
                      </ion-label>
                      <ng-template #Copiado>
                        <ion-label style="display: flex; justify-content: center; align-items: center;">
                          <ion-icon name="checkmark-done-circle"></ion-icon>
                          Copiado!
                        </ion-label>
                      </ng-template>
                    </ion-button>
                  </span>
                </ion-label>
              </div>

              <div>
                <ion-label>Procesador: {{res.procesador}}</ion-label>
              </div>

              <div>
                <ion-label>Dicso Duro: {{convertToGigabytes(res.disco_Duro)}}</ion-label>
              </div>

              <div *ngIf="res.office">
                <ion-label>Version de Office: {{res.office}}</ion-label>
              </div>

              <div>
                <ion-label>Sistema Operativo: {{res.so}}</ion-label>
              </div>
              <br>
            </div>
          </div>

        </ion-list>

      </ion-card-content>
    </ion-card>

    <div class="acciones" *ngIf="res && !showSpinner">
      <ion-fab-button (click)="generarQR()">
        <ion-icon name="qr-code"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="res.imagenes.length==0" (click)="modalImagenesToggle()" color="success">
        <ion-icon style="color: white;" name="images"></ion-icon>
      </ion-fab-button>
    </div>

    <div *ngIf="!res && !showSpinner" style="width: 100%; text-align: center; margin-top: 25px;">
      <p>!Ocurrio un error, no hay datos!</p>
    </div>
  </div>

  <ion-modal style="width: 100%;" [isOpen]="modalImagenes" #ImagenesModal backdropDismiss="false">
    <ng-template>
      <ion-content>
        <ion-header>
          <ion-toolbar class="new-background-color">
            <ion-title style="display: flex; flex: 1; justify-content: center; font-weight: 700;">Seleccionar Imagenes
            </ion-title>
            <ion-buttons slot="end">
              <ion-button shape="round" class="cerrar-modal" (click)="modalImagenesToggle()">
                <ion-icon name="close"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <h4 class="titulo">Asigne imagenes a este equipo (opcional)</h4>
        <div>
          <div style="display: flex; flex: 1; justify-content: center;
           font-weight: 600; text-align: center; flex-direction: column;">
            <ion-label>Puede seleccionarlas de su dispositivo</ion-label>
            <br />
            <div>
              <ion-label> ID de Equipo registrado:</ion-label>
              <br />
              <ion-label>{{res.id}}</ion-label>
            </div>
          </div>
          <form enctype="multipart/form-data" style="display: flex; justify-content: center; margin-top: 20px;">
            <div style="width: 100%; display: flex; justify-content: center; padding: 0 50px;">
              <ion-button style="text-transform: capitalize; width:fit-content; height:50px" color="warning"
                shape="round" onclick="document.getElementById('getFile').click()">
                <ion-icon class="docs" name="cloud-upload-outline"></ion-icon>
                seleccionar imagenes
              </ion-button>
              <input (change)="onFileSelect($event)" multiple="multiple" accept="image/*" type='file' id="getFile"
                style="display:none">
            </div>
          </form>
        </div>
        <ion-item lines="none" *ngIf="plat != 'desktop'"
          style="font-weight: 600; text-align: center; margin-top: 20px;">
          <ion-label>Puede usar la camara de su dispositivo</ion-label>
          <ion-button style="width: 40px; height: 40px;" (click)="takePhoto($event)" expand="round">
            <ion-icon style="font-size: x-large;" name="camera"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-fab vertical="bottom" horizontal="center" slot="fixed">
          <ion-fab-button type="submit" (click)="subir()">
            <ion-icon name="send"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>