@import '~swiper/scss';
@import '~@ionic/angular/css/ionic-swiper';

ion-icon {
    pointer-events: none;
}
ion-badge{
    font-size: 14px;
}
.btn-slider {
    cursor: pointer;
    width: fit-content;
    height: fit-content;

    ion-icon {
        font-size: 35px;
    }
}
.btn-slider:hover {
    ion-icon {
        color: blue;
    }
}
.dndclass {
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.dndclass:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.swiper-pagination {
    cursor: default;
}
.swiper-pagination-bullet {
    cursor: default;
}
.btn-copiar {
    margin-left: 5px;
    height: fit-content;
    height: fit-content;
}
.buttons {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    position: sticky;
    bottom: 10px;
}
.img {
    border-radius: 40px;
}
.sinImagenes{
    width: 100%; height: 200px; display: flex; align-items: center;
    font-size: 20px; text-align: center; padding: 0 10px; justify-content: center;
}
.carta-cabecera{
    display: flex; flex-direction: row; align-items: center; padding: 40px;
}
.acciones{
    width: 100%; position: fixed; bottom: 10px; height: fit-content;
    margin: 0; padding: 0; display: flex; justify-content: center; grid-gap: 10px;
}
.datosBasicos{
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    margin-top: 10px;
    padding: 0 10px;
}
.lista-cabecera{
    margin-left: 8px;
    padding: 0;
}