@media (min-width: 1281px){
    #scanQRCode{
        display: none;
    }
}

ion-searchbar{
    border-radius: 10px;
    padding: 20px;
}
ion-item{
    cursor: pointer;
    padding: 10px;
    background-color: none;
}
ion-label, ion-list{
    background-color: none;

}
ion-item:hover{
    background-color: rgb(245, 245, 245,0.1);
}
ion-card{
    cursor: pointer;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    ion-button{
        text-transform: capitalize;
        background-color: transparent;
    }
    button{
        background-color: transparent;
        height: 50px;
        border-radius: 10px;
    }
    button:hover{
        text-decoration: underline;
    }
}
.btn-slider{
    cursor: pointer;
}
.btn-slider:hover{
    ion-icon{
        color: blue;
    }
}
// .search{
//     display: flex;
//     ion-input{
//         --padding-start:10px;
//         --background: #E7E6E8;
//         border-radius: 8px;
//         height: 34px;
//     }
//     ion-icon{
//         margin-left: 10px;
//     }
// }
// .inactive-search{
//     display: flex;
//     flex: 1;
//     transition: 0.4s;
// }
// .hidden-btn{
//     position: absolute;
//     top: 5px;
//     right: -100px;
//     transition: 0.4s;
// }
// .active-search{
//     display: flex;
//     flex: 0.8;
//     transition: 0.4s;
// }
// .visible-btn{
//     position: absolute;
//     z-index: 100;
//     top: 5px;
//     right: 0px;
//     transition: 0.4s;
// }
// .search-overlay{
//     width: 100%;
//     height: 100%;
//     background: #0000003d;
//     position: absolute;
//     opacity: 0;
// }
.ios-title{
    padding: 0 50px;
    text-align: start;
}
.buscador{
    display: none;
    border-radius: 10px;
}
.cabecera-titulo{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px;
}
// ion-item {
//     --ion-item-background: transparent;
//     box-shadow: none !important;
// }

ion-list {
    --ion-item-background: transparent;
    box-shadow: none !important;
}