<ion-header #headerwrapper>
  <ion-toolbar style="display: flex; align-items: center; align-content: center;" class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!buscando" [ngClass]="(plat === 'iphone') ? 'ios-title' : ''">
      Inventario
    </ion-title>

    <ion-input *ngIf="buscando" id="buscarInput" #autofocus placeholder="Buscar" (ionChange)="OnSearch($event)">
    </ion-input>

    <ion-buttons slot="end">
      <ion-button *ngIf="inventario?.length > 0" id="searchBtn" shape="round" (click)="buscar()">
        <ion-icon color="light" *ngIf="!buscando" name="search"></ion-icon>
        <ion-icon color="danger" *ngIf="buscando" name="close"></ion-icon>
      </ion-button>
      <ion-button id="scanQRCode" (click)="scanQRCode()" expand="round" color="secondary">
        <ion-icon name="scan"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="!buscando" *ngIf="!showSpinner">

  <ion-refresher *ngIf="plat != 'desktop' " slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Desliza para actualizar"
      refreshingSpinner="dots">
    </ion-refresher-content>
  </ion-refresher>

  <div style="padding: 10px; position: absolute; width: 100%;">
    <p style="text-align: center;" *ngIf="plat != 'desktop' ">
      Puedes buscar un equipo escanenado su codigo
    </p>

    <p style="text-align: center;" *ngIf="plat === 'desktop'">
      Puedes filtrar los equipos por nombre
    </p>

    <div style="display: flex; justify-content: center; width: 100%;">
      <ion-button [routerLink]="['/Inventario/nuevo_equipo']">
        <ion-icon style="padding-right: 5px;" name="add-circle-outline"></ion-icon>
        Agregar a inventario
      </ion-button>
    </div>
  </div>

  <ion-list *ngIf="inventario.length > 0" style="margin-top: 95px;">
    <ion-list-header>
      <div class="cabecera-titulo">
        <ion-badge>Equipos en almacén: {{inventario.length}}</ion-badge>
        <ion-badge *ngIf="searchFilter && filteredarray.length > 0" color="tertiary">{{filteredarray.length}} Resultados
        </ion-badge>
      </div>
    </ion-list-header>
    
    <div style="text-align: center; width: 100%;" *ngIf="filteredarray.length === 0">
      <p>No se encontraron resultados</p>
      <ion-icon style="font-size: 10vh;" name="file-tray-outline"></ion-icon>
    </div>

    <div *ngFor="let data of filteredarray">
      <ion-item lines="none" (click)="navegar(data.id)">
        <ion-thumbnail slot="start" style="width: 70px; height: 70px;">
          <ion-img style="object-fit: contain;" *ngIf="data.imgs?.length>0; else Imagen" [src]="url+data.imgs[0].ruta">
          </ion-img>
        </ion-thumbnail>

        <ng-template #Imagen>
          <ion-img style="object-fit: contain;" src="http://localhost:8100/assets/img/Sin imagen.png"></ion-img>
        </ng-template>

        <div style="display: flex; flex-direction: column; overflow: hidden;" [ngStyle]="{'gap': 
          plat === 'desktop' ? '10px' : '30px'}">
          <ion-label style="text-transform: capitalize;" *ngIf="data.tipo!='Chip'">{{data.nombre_Equipo}}</ion-label>
          <ion-label *ngIf="data.tipo==='Chip'">{{data.n_Telefono}}</ion-label>
          <ion-note>{{ formatear(data.fecha_Registro) }}</ion-note>
        </div>
        <ion-badge slot="end" color="primary">{{data.tipo}}</ion-badge>
        <ion-icon slot="end" style="font-size: 22px;" name="chevron-forward"></ion-icon>
      </ion-item>
    </div>
  </ion-list>

  <div *ngIf=" !inventario || inventario.length === 0" class="imagen-placeholder">
    <img [ngStyle]="{width: (plat === 'desktop' ? '38%' : '90%' )}" style="object-fit: contain; padding: 20px;"
      src="../../assets/img/No inventario.png" />
  </div>

</ion-content>