/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import '~swiper/scss';
@import '~swiper/scss/autoplay';
@import '~swiper/scss/keyboard';
@import '~swiper/scss/pagination';
@import '~swiper/scss/scrollbar';
@import '~swiper/scss/zoom';
@import '~@ionic/angular/css/ionic-swiper';

html,
body {
    height: 100%;
    margin: 0;
}
.swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 100%;
    max-height: 500px;
}
.swiper .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
}
.swiper .swiper-slide ion-img{
    object-fit: contain;
    padding: 10px;
    max-width: 60%;
    max-height: 100%;
}

// .modal{
//     height: 30%;
//     width: 90%;
//     border-radius: 15px;
// }
.popup-modal {

    // --background: #0000005c;
    // &::part(content){
    //     backdrop-filter: blur(12px);
    // }
    // ion-content{
    //     --background:transparent;
    // }
    &::part(backdrop) {
        background-color: transparent;
        backdrop-filter: blur(12px);

    }

    &::part(content) {
        width: 90%;
        height: 90%;
        margin: auto;
        border-radius: 10px;
    }
}

.titulo {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    color: #000f33;
    font-style: normal;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

.qr {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px #222222);
    opacity: .8;
    height: 400px;
    img {
        height: 350px;
    }
}
canvas {
    height: 280px;
    width: 280px;
}
.error{
    color: red;
    font-size: 12px;
}
.customToast{
    text-align: justify;
    font-size: 16px;
}
.imagen-placeholder{
    display: flex; justify-content: center; width: 100%; align-items: center;height: 100%;
}
.docs{
    font-size: 30px;
    margin: 0 10px;
}
.mostrar-toggle{
    padding: 10px; position: absolute; width: 100%;
}
.new-background-color {
    --background: linear-gradient(90deg, #bcc9ee 0%, #6abae6 100%);
    font-family: MyRiadpro;
}