<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: left;">Solicitar equipo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  
  <div [ngClass]="(plat=== 'desktop' ?'Desktop':'Movil')" style="position: absolute; width: 100%; top: 20px;">
    <ion-item class="categorias">
      <ion-label position="floating" style="font-family: MyRiadpro;">Categorias</ion-label>
      <ion-select interface="popover" (ionChange)="onChange($event)" name="categoria_Equipo">
        <ion-select-option value="comp">Computadora (PC, Laptop)</ion-select-option>
        <ion-select-option value="mov">Moviles (Tablet, Smartphone)</ion-select-option>
        <ion-select-option value="chip">Chips Telefónicos</ion-select-option>
        <ion-select-option value="otros">Otros (camaras, tripies, monitores, mouse...)</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <!-- Datos del equipo seleecionado -->
  <div [ngClass]="(plat=== 'desktop' ?'DesktopCA':'MovilCA')" style="position: absolute; width: 100%; top:100px;">
    <ion-item class="dato" *ngIf="opt">
      <ion-label style="font-family: MyRiadpro;">Seleccionar</ion-label>
      <div slot="end">
        <ion-button interface="popover" name="tipo_Equipo" (click)="abrirModal()">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </div>

  <div *ngIf="lista.length > 0" [ngClass]="(plat=== 'desktop' ?'DesktopLI':'MovilLI')"
    class="carta-absoluta">
    <ion-card class="list" *ngIf="lista.length > 0 && !ticket">
      <ion-card-header>
        <ion-card-title>Equipos agregados</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list *ngFor="let equipo of lista">
          <ion-item style="text-transform: capitalize;">
            <ion-label>{{equipo.nombre_Equipo}}</ion-label>
            <ion-label>{{equipo.tipo}}</ion-label>
            <ion-button (click)="Remove(equipo.id)" color="danger">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>

      <ion-toolbar>
        <ion-button printSectionId="ticket-generado" shape="round" color="tertiary"
          (click)="asignarEquipos()" style="margin: 0 10px; text-transform: none;">
          <ion-icon style="margin-right: 5px;" name="arrow-redo-outline"></ion-icon>
          Asignar
        </ion-button>
      </ion-toolbar>
    </ion-card>
  </div>

  <ion-card style="top: 150px;" *ngIf="ticket">
    <ion-card-header>
      <ion-card-title>Click para imprimir ticket</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="width: 100%; display: flex; justify-content: center;">
        <button id="btn-ticket" slot end class="btn btn-outline-info btnprint" printSectionId="ticket-generado" ngxPrint
          slot="end">
          <ion-icon style="font-size: 23px;" name="print"></ion-icon>
        </button>
      </div>
    </ion-card-content>
  </ion-card>

  <div style="display: none;">
    <div id="ticket-generado" style="width: fit-content; height: fit-content;">
      <div style="text-align: center; display: flex; flex-direction: column; margin-bottom: 30px;">
        <ion-label>° Tribuna - Sistemas °</ion-label>
        <ion-label>Fecha: {{fecha()}}</ion-label>
        <ion-label *ngIf="empleado">{{capitalize(empleado.nombre)}} solicitó los siguientes equipos:</ion-label>
      </div>
      <ion-list *ngIf="equiposTicket.length > 0">
        <div style="border-top: 1px dotted; width: 100%;"></div>
        <div *ngFor="let equipo of equiposTicket"
          style="border-bottom: 1px dotted; display: flex; flex-direction: column; grid-gap: 5px; padding: 10px; text-transform: capitalize;">
          <ion-label>Nombre: {{equipo.nombre_Equipo}}</ion-label>
          <ion-label>Tipo: {{equipo.tipo}}</ion-label>
          <ion-label>Modelo: {{equipo.modelo}}</ion-label>
          <ion-label>Serie: {{equipo.n_Serie}}</ion-label>
        </div>
      </ion-list>
      <div style="margin-top: 10px;">
        <span style="text-decoration: underline;">Nota: </span>
        <label>Presente este formato en el área de sistemas con su firma para que le proporcionen lo solicitado.</label>
      </div>

      <div style="text-align: center; width: 100%; display: flex; justify-content: space-evenly; margin-top: 100px;">
        <div *ngIf="empleado">
          <div style="border-bottom: 1px solid; width: 100%;"></div>
          <div>{{capitalize(empleado.nombre)}}</div>
          <div>{{capitalize(empleado.puesto)}}</div>
        </div>
        <div>
          <div style="border-bottom: 1px solid;"></div>
          <div>Carlos R.Quiñonez Arredondo</div>
          <div>Gerente de Tecnologías</div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="lista.length==0 && !ticket" class="imagen-placeholder">
    <img [ngStyle]="{width: (plat === 'desktop' ? '38%' : '90%' )}" style="object-fit: contain; padding: 20px;"
      src="../../../assets/img/no hay solicitudes.png" />
  </div>
  
    <div class="acciones" *ngIf="plat != 'desktop' ">
      <div>
        <ion-fab-button color="warning" (click)="scanQRCode()">
          <ion-icon name="scan"></ion-icon>
        </ion-fab-button>
      </div>
    </div>

</ion-content>