@font-face {
    font-family: 'MyRiadpro';
    src: url('../../../assets/fonts/MYRIADPRO-REGULAR.OTF');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: MyRiadpro;
}

.content {
    font-family: MyRiadpro;
}
// Seleccion de equipo
.Desktop {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    .categorias {
        width: 50%;
        border-radius: 10px;
        font-family: MyRiadpro;
    }
}
.Movil {
    width: 100%;
    display: flex;
    justify-content: center;
    .categorias {
        width: 95%;
        border-radius: 10px;
        font-family: MyRiadpro;
    }
}
// Datos de equipos
.DesktopCA {
    margin-top: 10px;
    width: 100%;
    display: grid;
    justify-items: center;
    .dato {
        width: 25%;
        border-radius: 10px;
        font-family: MyRiadpro;
    }
}
.MovilCA {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    align-items: center;
    .dato {
        width: 80%;
        border-radius: 10px;
        font-family: MyRiadpro;
    }
}
// listado
.DesktopLI {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    .list {
        width: 50%;
        border-radius: 10px;
        font-family: MyRiadpro;
    }
}
.MovilLI {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.list {
    width: 100%;
    border-radius: 10px;
    font-family: MyRiadpro;
}
.acciones {
    width: fit-content;
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: fit-content;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    z-index: 99;
}
.carta-absoluta{
    position: absolute; width: 100%; top:140px;
}