<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Empleados</ion-title>
    <ion-buttons slot="end" *ngIf="!showSpinner">
      <ion-button expand="round" style="text-transform: capitalize;" (click)="mostrarFormulario()">
        <ion-icon *ngIf="!showForm" style="font-size: 25px;" name="add-circle"></ion-icon>
        <ion-icon *ngIf="showForm" style="font-size: 25px;" name="list-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="!cargando">
  <!-- Listado -->
  <div *ngIf="!showForm" style="padding-top: 20px;">
    <div style="display: flex; justify-content: center;">
      <ion-button style="width: fit-content; padding-right: 10px;" (click)="paginacion('Next')">
        +15<ion-icon name="caret-forward-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="page > 0" style="width: fit-content;" (click)="paginacion('Prev')">
        -15<ion-icon name="caret-back-outline"></ion-icon>
      </ion-button>
    </div>

    <ion-item style="padding: 40px;">
      <ion-label class="gray" position="floating">Nombre
      </ion-label>
      <ion-input class="fontStyle" (ionChange)="busqueda($event)"></ion-input>
    </ion-item>

    <ion-list *ngIf="lista.length > 0">
      <ion-item-sliding [ngClass]="(plat === 'iphone') ? 'ios-item' : ''"
        [ngStyle]="{width: (plat === 'ipad' ? '98%' : 'auto')}" *ngFor="let item of lista; let i = index"
        [id]="'slidingItem'+i">

        <ion-item lines="none">
          <div class="contenedor-empleado">
            <ion-label style="padding: 2px 20px; font-weight: 600;">{{ capitalize(item.nombre)}}</ion-label>
            <ion-note class="empleado-info">{{capitalize(item.puesto)}} - {{capitalize(item.plaza)}}</ion-note>
            <ion-note class="empleado-info">{{capitalize(item.area)}}</ion-note>
            <ion-note class="empleado-info">{{item.telefono}}</ion-note>
          </div>

          <ion-buttons *ngIf="plat === 'desktop'" class="acciones">
            <ion-button color="danger" expand="round" (click)="eliminar(item.id)">
              <ion-icon name="close-circle"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>

        <ion-item-options side="end" *ngIf="plat != 'desktop' " class="opciones">
          <ion-item-option (click)="eliminar(item.id)">Borrar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  <!-- formulario para agregar empleado -->
  <div *ngIf="showForm">
    <div id="indication">
      <ion-label style="font-family:MyRiadpro;">Registra a un nuevo empleado</ion-label>
    </div>
    <form [formGroup]="empleadoForm" (submit)="nuevoEmpleado($event)" (keyup.enter)="nuevoEmpleado($event)"
      id="container" style="margin-top: 10px;">
      <ion-item>
        <ion-label class="fontColor" position="floating">Nombre Completo</ion-label>
        <ion-input formControlName="Nombre" class="fontStyle" type="text" name="Nombre"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="errorControl.Nombre.touched && errorControl.Nombre.errors?.required">
        Nombre completo requerido
      </span>

      <ion-item>
        <ion-label class="fontColor" position="floating">Puesto</ion-label>
        <ion-input formControlName="Puesto" class="fontStyle" type="text" name="Puesto"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="errorControl.Puesto.touched && errorControl.Puesto.errors?.required">
        Puesto requerido
      </span>

      <ion-item>
        <ion-label class="fontColor" position="floating">Area</ion-label>
        <ion-input formControlName="Area" class="fontStyle" type="text" name="Area">
        </ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="errorControl.Area.touched && errorControl.Area.errors?.required">
        Area requerida
      </span>

      <ion-item>
        <ion-label class="fontColor" position="floating">Plaza</ion-label>
        <ion-select formControlName="Plaza" value="" name="Plaza" interface="popover">
          <ion-select-option value="Obregón">Obregón</ion-select-option>
          <ion-select-option value="Hermosillo">Hermosillo</ion-select-option>
          <ion-select-option value="Navojoa">Navojoa</ion-select-option>
          <ion-select-option value="Guaymas">Guaymas</ion-select-option>
        </ion-select>
      </ion-item>
      <span class="error ion-padding" *ngIf="errorControl.Plaza.touched && errorControl.Plaza.errors?.required">
        Seleccione una plaza
      </span>

      <ion-item>
        <ion-label class="fontColor" position="floating">Teléfono</ion-label>
        <ion-input formControlName="Telefono" type="text" inputmode="numeric">
        </ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="errorControl.Telefono.touched && errorControl.Telefono.errors?.required">
        Telefono completo requerido
      </span>

      <ion-button *ngIf="plat === 'desktop' " [disabled]="!empleadoForm.valid" class="fontStyle
       btnRegistrar" type="submit" expand="block">
        <ion-icon name="log-in"></ion-icon>
        Registrar Empleado
      </ion-button>

      <div class="contenedor-movil" *ngIf="plat != 'desktop' ">
        <ion-label [ngStyle]="{'opacity': !empleadoForm.valid ? '.5': '1'}">Agregar Empleado</ion-label>
        <ion-button class="btnMovil" color="secondary" type="submit" [disabled]="!empleadoForm.valid">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </div>
    </form>
  </div>

  <div style="text-align: center; width: 100%;" *ngIf="lista.length == 0 && nombre">
    <p>No se encontraron resultados</p>
    <ion-icon style="font-size: 10vh;" name="file-tray-outline"></ion-icon>
  </div>

  <div *ngIf="lista.length == 0 && !showForm && !nombre" class="imagen-placeholder">
    <img [ngStyle]="{width: (plat === 'desktop' ? '38%' : '90%' )}" style="object-fit: contain; padding: 20px;"
      src="../../../assets/img/No empleados.png" />
  </div>

</ion-content>