#indication {
    font-size: large;
    text-align: center;
    color: grey;
    margin-top: 50px;
}

.btnRegistrar {
    text-transform: capitalize;
    padding: 0 10px;
    margin-top: 10px;
}

.contenedor-movil {
    padding: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 15px;
    // left: 0;

    // ion-fab {
    //     padding-top: 25px;

    //     ion-fab-button {
    //         width: 62px;
    //         height: 62px;
    //     }
    // }
}

ion-item-sliding {
    border: 1px solid #ccc;
    border-radius: 16px;
    width: 98%;
    margin: 10px 5px
}

.ios-item {
    width: 94%;
    margin: 10px 9px
}

.empleado-info {
    padding: 2px 20px;
    font-size: 15px;
}

.acciones {
    width: fit-content;
    height: 100px;
    position: absolute;
    right: 10px;

    ion-button {
        font-size: 25px;
    }
}

.contenedor-empleado {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.opciones {
    align-items: center;

    ion-item-option {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        height: 100%;
    }
}

.btnMovil {
    --transition: background-color, opacity 100ms linear;
    --ripple-color: currentColor;
    --border-radius: 50%;
    --border-width: 0;
    --border-style: none;
    --border-color: initial;
    --padding-top: 0;
    --padding-end: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    width: 56px;
    height: 56px;
    position: relative;
    font-size: 14px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
    -webkit-font-kerning: none;
    font-kerning: none;

    ion-icon {
        font-size: 30px;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}