<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Administración</ion-title>
    <ion-buttons slot="end" *ngIf="!showSpinner && plat === 'desktop' ">
      <ion-button expand="round" style="text-transform: capitalize;" (click)="recargar(e)">
        <ion-icon style="font-size: 25px;" name="refresh-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!cargando">

  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)" style="margin-top: 20px;">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Desliza para actualizar"
      refreshingSpinner="dots">
    </ion-refresher-content>
  </ion-refresher>

  <ion-item lines="none" class="mostrar-toggle">
    <ion-label>Mostrar con Acceso</ion-label>
    <ion-toggle [(ngModel)]="mostrarTodos" (ionChange)="obtenerTodos()"></ion-toggle>
  </ion-item>

  <div *ngIf="registros.length > 0" style="margin-top: 50px;">
    <div [ngStyle]="{'font-size': (plat != 'desktop') ? '18px' : '22px'}">
      <h2 *ngIf="mostrarTodos; else tituloTemplate" class="titulo">Lista de usuarios previamente autorizados</h2>
      <ng-template #tituloTemplate>
        <h2 class="titulo">Autoriza a los usuarios que pueden acceder a la aplicación</h2>
      </ng-template>
    </div>


    <ion-list>
      <ion-item-sliding *ngFor="let registro of registros">
        <div class="item-container">
          <ion-item [ngStyle]="{cursor: (!registro.autorizado ? 'pointer' : 'default' )}"
            (click)="plat === 'desktop' && !registro.autorizado ? confirmarRegistro(registro): null">

            <ion-label>
              <h2>{{formatearNombre(registro)}}</h2>
            </ion-label>

            <ion-avatar slot="end" style="width: fit-content; display: flex; align-items: center;">


              <ion-label style="display: flex; "
                *ngIf="plat === 'desktop' || plat === 'tablet' || plat === 'ipad'; else mobileTemplate ">
                <h3 *ngIf="!registro.autorizado; else Template">Sin Acceso</h3>
                <ng-template #Template>
                  <h3>Con Acceso</h3>
                </ng-template>
              </ion-label>


              <ng-template #mobileTemplate>
                <ion-icon *ngIf="registro.autorizado;" name="eye"></ion-icon>
                <ion-icon *ngIf="!registro.autorizado;" name="eye-off"></ion-icon>
              </ng-template>

            </ion-avatar>


            <ion-label *ngIf="plat == 'desktop' || plat == 'tablet' || plat == 'ipad' ">
              <p style="display: flex; align-items: center;">
                {{registro.rol}}
                <ion-icon *ngIf="registro.rol === 'Usuario'; else elseTemplate" style="font-size: 20px;"
                  name="person-circle">
                </ion-icon>

                <ng-template #elseTemplate>
                  <ion-icon style="font-size: 20px; padding-left: 10px;" name="key"></ion-icon>
                </ng-template>
              </p>
            </ion-label>


          </ion-item>
        </div>

        <ion-item-options side="end" *ngIf="plat != 'desktop' && !registro.autorizado">
          <ion-item-option
            style="border-radius: 5%; height:80%; display: flex; justify-content: center; align-items: center; align-self: center;"
            (click)="confirmarRegistro(registro)">
            Confirmar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
  </div>

  <div *ngIf="registros.length == 0" class="imagen-placeholder">
    <img [ngStyle]="{width: (plat === 'desktop' ? '38%' : '90%' )}" style="object-fit: contain; padding: 20px;"
      src="../../../assets/img/No registros.png" />
  </div>

</ion-content>