html, body {
    height: 100%;
    margin: 0;
  }
.admin-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    color: #000f33;
    font-style: normal;
    text-align: center;  
    margin-top: 20px; 
    padding: 10px;   
  }
  @media (prefers-color-scheme: dark) {
    .titulo{
      color: white;
    }
  }